<link rel="stylesheet" href="validaciones.component.css" />
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<body class="g-sidenav-show bg-gray-200">
	<div class="main-content position-relative max-height-vh-100 h-100">
		<div class="container-fluid px-2 px-md-4">
			<div
				class="page-header min-height-300 border-radius-xl mt-4"
				style="background-image: url('../../../assets/img/carrucel/1.jpg')"
			>
				<span class="mask bg-gradient-primary opacity-6"></span>
			</div>
			<div class="card card-body mx-3 mx-md-4 mt-n6">
				<div class="row gx-4 mb-2">
					<div class="col-auto">
						<div class="avatar avatar-xl position-relative">
							<img
								src="../../../assets/users/user1.png"
								alt="profile_image"
								class="w-100 border-radius-lg shadow-sm"
							/>
						</div>
					</div>
					<div class="col-auto my-auto">
						<div class="h-100">
							<h5 class="mb-1">Yeiser Avila</h5>
							<p class="mb-0 font-weight-normal text-sm">
								Cod Estudiante / 202011796
							</p>
						</div>
					</div>
					<div class="validaciones">
						<div class="container">
							<form>
								<input type="text" name="" placeholder="Buscar..." />
								<button type="submit">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</form>
						</div>
						<!-- box -->

					</div>
                    <div class="cardio">
                        <div class="blog-card">
							<input type="radio" name="select" id="tap-1" checked />
							<input type="radio" name="select" id="tap-2" />
							<input type="radio" name="select" id="tap-3" />
							<input type="checkbox" id="imgTap" />
							<div class="sliders">
								<label for="tap-1" class="tap tap-1"></label>
								<label for="tap-2" class="tap tap-2"></label>
								<label for="tap-3" class="tap tap-3"></label>
							</div>
							<div class="inner-part">
								<label for="imgTap" class="img">
									<img class="img-1" src="#" />
								</label>
								<div class="content content-1">
									<span>26 December 2017</span>
									<div class="title">Lorem Ipsum Dolor</div>
									<div class="text">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										Explicabo animi atque aliquid pariatur voluptatem numquam,
										quisquam. Neque est voluptates doloribus!
									</div>
									<button>Read more</button>
								</div>
							</div>
							<div class="inner-part">
								<label for="imgTap" class="img">
									<img class="img-2" src="#" />
								</label>
								<div class="content content-2">
									<span>26 December 2018</span>
									<div class="title">Lorem Ipsum Dolor</div>
									<div class="text">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										Ipsum eos ut consectetur numquam ullam fuga animi laudantium
										nobis rem molestias.
									</div>
									<button>Read more</button>
								</div>
							</div>
							<div class="inner-part">
								<label for="imgTap" class="img">
									<img class="img-3" src="#" />
								</label>
								<div class="content content-3">
									<span>26 December 2019</span>
									<div class="title">Lorem Ipsum Dolor</div>
									<div class="text">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
										Quod excepturi nemo commodi sint eum ipsam odit atque
										aliquam officia impedit.
									</div>
									<button>Read more</button>
								</div>
							</div>
						</div>
                    </div>

					<div
						class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3"
					></div>
				</div>
			</div>
		</div>
		<footer class="footer py-4"></footer>
	</div>
</body>
