<link rel="stylesheet" href="dashboard.component.css" />
<script
	src="https://kit.fontawesome.com/dfb0fe0c87.js"
	crossorigin="anonymous"
></script>

<div class="contenedor-principal">
	<!-- SECCION CARRUCEL -->

	<section id="hero">
		<div class="hero-container">
			<div
				id="heroCarousel"
				class="carousel slide carousel-fade"
				data-ride="carousel"
			>
				<ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

				<div class="carousel-inner" role="listbox">
					<!-- Slide 1 -->
					<div
						class="carousel-item active"
						style="
							background: linear-gradient(
									to bottom,
									hsla(41, 100%, 49%, 0.37),
									hsla(206, 95%, 16%, 0.733),
									rgba(7, 109, 150, 0.45)
								),
								url(../../../assets/img/carrucel/1.jpg);
						"
					>
						<div class="carousel-container">
							<div class="carousel-content">
								<h2 class="animate__animated animate__fadeInDown">
									<span></span> Bienvenido
								</h2>
								<p class="animate__animated animate__fadeInUp">
									CARRERA DE NUTRICIÓN HUMANA
								</p>
								<div>
									<li
										class="btn-menu animate__animated animate__fadeInUp scrollto"
										Empezamos
										[routerLink]="['/menu/profile']"
										routerLinkActive="active"
										[routerLinkActiveOptions]="{ exact: true }"
									>
										<span class="menu-items-text"> Empezamos </span>
									</li>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<br /><br />
	<div class="imagenes">
		<div class="mision">
			<div class="row gx-5 gx-xl-10">
				<div class="col-xxl-6 mb-5 mb-xl-10">
					<img
						src="../../../assets/dashboard/mision.jpg"
						style="border-radius: 25px"
						alt=""
					/>
				</div>

				<div class="col-xxl-6 mb-5 mb-xl-10">
					<img
						src="../../../assets/dashboard/vision.jpg"
						style="border-radius: 25px"
						alt=""
					/>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- End Hero -->
