<div class="contenedor-padre">
  <div class="contenedor-hijo">
    <div class="form-create-user">
      <div class="grid">
        <div class="g-col-6">
          <span class="form-titulo">Crear una cuenta</span>
        </div><br>
        <div class="g-col-6">
          <div class="row">
            <div class="col form-floating">
              <input type="text" class="form-control form-control-lg" id="floatingInput" placeholder="Luis Alberto">
              <label for="floatingInput">Nombres Completos</label>
            </div>
            <div class="col form-floating">
              <input type="text" class="form-control form-control-lg" id="floatingInput" placeholder="Napoleon">
              <label for="floatingInput">Apellido Paterno</label>
            </div>
          </div>
          <div class="row">
            <div class="col form-floating">
              <input type="text" class="form-control form-control-lg" id="floatingInput" placeholder="Bonaparte">
              <label for="floatingInput">Apellido Materno</label>
            </div>
            <div class="col form-floating">
              <input type="text" class="form-control form-control-lg" id="floatingInput" placeholder="78654321">
              <label for="floatingInput">Documento de Intentidad</label>
            </div>
          </div>
          <div class="row">
            <div class="col form-floating">
              <input type="text" class="form-control form-control-lg" id="floatingInput" placeholder="987654321">
              <label for="floatingInput">Telefono</label>
            </div>
            <div class="col form-floating">
              <input type="text" class="form-control form-control-lg" id="floatingInput" placeholder="Perú">
              <label for="floatingInput">Nacionalidad</label>
            </div>
          </div>
          <div class="row">
            <div class="col form-floating">
              <input type="text" class="form-control form-control-lg" id="floatingInput" placeholder="38">
              <label for="floatingInput">Edad</label>
            </div>
            <div class="col form-floating">
              <input type="text" class="form-control form-control-lg" id="floatingInput"
                placeholder="example@upeu.edu.pe">
              <label for="floatingInput">Correo universitario</label>
            </div>
          </div>
          <div class="row">
            <div class="col form-floating">
              <input type="email" class="form-control form-control-lg" id="floatingInput"
                placeholder="name@example.com o name.explame">
              <label for="floatingInput">Usuario</label>
            </div>
            <div class="col form-floating">
              <input type="password" class="form-control form-control-lg" id="floatingInput"
                placeholder="example.name123">
              <label for="floatingInput">Contraseña</label>
            </div>
          </div>

          <div class="row">
            <div class="col form-floating">
              <input type="text" class="form-control form-control-lg" id="floatingInput" placeholder="202012032">
              <label for="floatingInput">Codigo estudiante</label>
            </div>
            <div class="col form-floating">
              <select class="form-select form-select-sm" style="border-radius: 11px;"
                aria-label=".form-select-lg example">
                <option selected disabled>Tipo de Acceso</option>
                <option value="1">Administrador</option>
                <option value="2">Estudiante</option>
              </select>
            </div>

          </div>
        </div><br>
        <div class="g-col-12">
          <button class="boton" (click)="registrarCuentra()">
            <div class="arrow-wrapper">
              <div class="arrow"></div>
              <span class="text-boton">Registrar cuenta</span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
