<link rel="stylesheet" href="validarsoliadmin.component.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet" />



<body class="g-sidenav-show bg-gray-200">
  <div class="main-content position-relative max-height-vh-100 h-100">
    <div class="container-fluid px-2 px-md-4">
      <div class="page-header min-height-300 border-radius-xl mt-4"
        style="background-image: url('../../../assets/img/carrucel/1.jpg')">
        <span class="mask bg-gradient-primary opacity-6"></span>
      </div>
      <div class="card card-body mx-3 mx-md-4 mt-n6">
        <div class="row gx-4 mb-2">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <img src="../../../assets/users/teacher3.png" alt="profile_image"
                class="w-100 border-radius-lg shadow-sm" />
            </div>
          </div>
          <div *ngFor="let data of dataUsers" class="col-auto my-auto">
            <div class="h-100">
              <h4 class="mb-1">Doc. {{ data.nombre }} {{ data.apellidos }}</h4>
              <p class="mb-0 font-weight-normal text-sm">
                <b>Dni:</b>
                {{ data.dni }}
              </p>
            </div>
          </div>
          <div class="validaciones">
            <div class="container">
              <form>
                <input type="text" name="" placeholder="Buscar..." />
                <button class="buscar">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>
            </div>
            <!-- box -->
          </div>
        </div>


        <!-- VALIDACIONES -->
        <div class="validacion">
          <section class="section">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"><b> Solicitudes Registradas</b></h5>

                    <table class="table datatable">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">NOMRRE</th>
                          <th scope="col">APELLIDOS</th>
                          <th scope="col">NACIONALIDAD</th>
                          <th scope="col">DIRECCION</th>
                          <th scope="col">NUMERO</th>
                          
                          <th></th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody  >
                        <tr *ngFor="let data of solicitudes let i=index" >
                          <th scope="row">{{i+1}}</th>
                          <td>{{data.nombre}}</td>
                          <td>{{data.apellidos}}</td>
                          <td>{{data.nacionalidad}}</td>
                          <td>{{data.direccion}}</td>
                          <td><b>{{data.telefonoe}}</b></td>
                          <td></td>
                          
                          <td>
                            <!-- BOTONES DE VISTAS -->

                            <button (click)="buscarDatos(data.idpersona)" type="button" class="btn btn-default btn-sm"  data-bs-toggle="modal" data-bs-target="#viewdetail">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                <path
                                  d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                              </svg>
                            </button>

                          </td>
                          <td>
                            <button type="button" class="btn btn-default btn-sm">
                              <span class="glyphicon glyphicon-star"></span>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash3" viewBox="0 0 16 16" data-bs-toggle="modal"
                                data-bs-target="#verpacientenoasignado">
                                <path
                                  d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                              </svg>
                            </button>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>

        <!-- MODAL 1 -->
        <div  class="model-data">
          <div class="modal fade" id="viewdetail" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered ">
            <div class="modal-content">
              <div class="modal-header">
                <div class="documentologo">
                  <img src="../../../assets/icons/solicitud.png">
                  
                </div> &nbsp;&nbsp;
                <br><br><h1 class="modal-title" id="exampleModalLabel"> Solicitudes</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                <div class="row g-3">
                  <div class="col-md-4">
                    <label for="recipient-name" class="col-form-label"><b>Empresa:</b></label>
                     <div type="text" class="form-control" id="recipient-name">{{this.Validaciones.nombree}}</div>
                  </div>
                  <div class="col-md-4">
                    <label for="recipient-name" class="col-form-label"><b>Datos del Supervisor:</b></label>
                     <div type="text" class="form-control" id="recipient-name">{{this.Validaciones.gradosup}}</div>
                  </div>
                  <div class="col-md-4">
                    <label for="recipient-name" class="col-form-label"><b>Archivos Adjuntados:</b></label> 
                    <p>Documentos Requeridos</p>
                  </div>
                  <div class="col-md-4">
                    <label for="recipient-name" class="col-form-label"><b>Cargo Rep de la empresa:</b></label>
                     <div type="text" class="form-control" id="recipient-name">{{this.Validaciones.cargorep}}</div>
                  </div>
                  <div class="col-md-4">
                    <label for="recipient-name" class="col-form-label"><b>Teléfono y/o celular:</b></label>
                     <div type="text" class="form-control" id="recipient-name">{{this.Validaciones.telefonoe}}</div>
                  </div>
                  <div class="archivo col-md-4">
                    <button  type="button" class="btn btn-default btn-sm" >
                      <img src="../../../assets/icons/archivo2.svg" alt="">
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                      <img src="../../../assets/icons/archivo2.svg" alt="">
                    </button>
                    <button type="button" class="btn btn-default btn-sm">
                      <img src="../../../assets/icons/archivo2.svg" alt="">
                    </button>
                   
                </div>
                  <div class="col-md-4">
                    <label for="recipient-name" class="col-form-label"><b>Dirección:</b></label>
                     <div type="text" class="form-control" id="recipient-name">{{this.Validaciones.direccion}}</div>
                  </div>
                  <div class="col-md-4">
                    <label for="recipient-name" class="col-form-label"><b>Área de Práctica:</b></label>
                     <div type="text" class="form-control" id="recipient-name">{{this.Validaciones.areappp}}</div>
                  </div>
                  <div class="col-md-4">
                    <label for="recipient-name" class="col-form-label"><b>Fecha que inicia las PPP:</b> </label>
                     <div type="text" class="form-control" id="recipient-name">{{this.Validaciones.fechappp}}</div>
                  </div>
                  
                </div>
              </div>
              <!-- BOTON DE MODAL  -->
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
        </div>
        

        <div class="btn-volver col-lg-6">
          <div class="btn-v">
            <input type="submit" value="Volver" class="box" [routerLink]="['/menu/dashboardadmin']"
              routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" />
          </div>
        </div>

        <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3"></div>
      </div>

    </div>
  </div>
  <footer class="footer py-4"></footer>
</body>
