.contenedor-principal{
    background: var(--azul);
    width: 100%;
    height: 100vh;
}

.contenedor{
    width: 100%;
    height: 15.5vh;
    position: relative;
}

.logo-login{
    width: 300px;
    margin-left: 50px;

}

.row{
    width: 100%;
}

.texto{
    color: var(--blanco);
    justify-content: center;
    align-items: center;
    display: flex;
}


.necesitas-ayuda{
    color: var(--azul);
    font-weight: bold;
    width: 300px;
    height: 50px;
    border-radius: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: var(--blanco);
}

.necesitas-ayuda:hover {
    background: var(--azul-oscuro);
    color: var(--blanco);
}

/* PARTE LOGIN */

.contenerdor-login{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-login{
    width: 60%;
    height: 65vh;
    background: var(--celeste-oscuro);
    margin-top: -20px;
    border-radius: 35px;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-login{
    height: 61vh;
}
.datos-login{
    width: 100%;
    padding: 10px 55px 10px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario{
    width: 100%;
}

/* RESPONSIVE */

@media (max-width: 1400px) {
    .imagen-login{
        height: 47vh;
        width: 90%;
    }
}

@media (max-width: 900px) {
    .imagen-login{

    }
}

/* BOTON DE LOGIN */

.button-33 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: #F8A900;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-33:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }