.bienvenido{
	color: #fff;
	font-size: 3.3em;
	justify-content: center;
	display: flex;
	margin-top: -110px;
    margin-bottom: 70px;
	font-weight: bold;
}

.contenedor-principal{
    background: var(--azul);
    width: 100%;
    height: 100vh;
}

.contenedor{
    width: 100%;
    height: 15.5vh;
    position: relative;
    padding: 0 45px 0 45px;
}

.logo-login{
    width: 300px;
    margin-left: 50px;

}

.row{
    width: 100%;
}

.texto{
    color: var(--blanco);
    justify-content: center;
    align-items: center;
    display: flex;
}


.necesitas-ayuda{
    color: var(--azul);
    font-weight: bold;
    width: 300px;
    height: 50px;
    border-radius: 250px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: var(--blanco);
}

.necesitas-ayuda:hover {
    background: var(--azul-oscuro);
    color: var(--blanco);
}

/* PARTE LOGIN */

.contenerdor-login{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-login{
    width: 60%;
    height: 65vh;
    background: var(--celeste-oscuro);
    margin-top: -20px;
    border-radius: 35px;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-login{
    height: 61vh;
}
.datos-login{
    width: 100%;
    padding: 10px 55px 10px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulario{
    width: 100%;
}

/* RESPONSIVE */

@media (max-width: 1400px) {
    .imagen-login{
        height: 47vh;
        width: 90%;
    }
}

@media (max-width: 900px) {
    .imagen-login{

    }
}

.bienvenido{

}

/* BOTON DE LOGIN */

.button-62 {
    background: linear-gradient(to bottom right, #F8A900, #ff741d);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

  /* .d-grid{
    padding-left: 120px;
    padding-right: 120px;
  } */