.sidebar-contenedor {
  width: 300px;
  height: 100vh;
  background: var(--azul);
  color: var(--blanco);
  position: fixed;
  z-index: 1;
  top: 0;
  transition: all 0.3s ease;
  margin: 0px;
  /* overflow-y: scroll; */
}

.header-sidebar {
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-header {
  width: 200px;
}

.sidebar-collapsed {
  width: 98px;
  height: 100vh;
  transition: all 0.3s ease;
  /* overflow-y: scroll; */
}

.sidebar-collapsed::-webkit-scrollbar {
  display: none;
}

.sidebar-body {
  width: 100%;
  margin: 0px;
  /* align-items: center; */
  padding: 16px;
  position: relative;
}

.menu {
  list-style: none;
  margin-left: -32px;
}

.menu-items {
  padding: 20px 20px 20px 22.5px;
  cursor: pointer;
  margin: 15px 0 15px 0;
  display: flex;
  align-items: center;
}

.menu-items:hover {
  width: 100%;
  padding: 20px 20px 20px 22.5px;
  background-color: var(--azul-oscuro);
  border-radius: 15px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
}

.menu-items-text {
  color: var(--blanco);
  font-size: 17px;
  /* font-family: Calibri, Calibri; */
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

.menu-items-icon {
  color: var(--blanco);
  font-size: 22px;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.active {
  padding: 20px 20px 20px 22.5px;
  background-color: var(--azul-oscuro);
  border-radius: 15px;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
}


.menu-routers {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--fondo-color);
  transition: 0.5s;
  height: 100%;
  padding: 5px 10px 5px 20px;
  /* overflow: scroll; */
}

.menu-routers::-webkit-scrollbar {
  display: none;
}

.menu-routers-2 {
  width: calc(100% - 98px);
  left: 98px;
}

.footer-sidebar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
}

.footer-sidebar-img {
  width: 200px;
}
