<div class="sidebar-contenedor" [ngClass]="collapsed ? 'sidebar' : 'sidebar-collapsed'">
  <div class="header-sidebar">
    <img class="logo-header" src="../../../assets/img/logo-login.png" alt="">
  </div>
  <div class="sidebar-body">
    <ul *ngFor="let data of sidebar1" class="menu">
      <li class="menu-items" [routerLink]="[data.path]" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <i [class]='data.icon'></i>
        <span class="menu-items-text">
          {{data.nombre}}
        </span>
      </li>
      
    </ul>
  </div>
  <div class="footer-sidebar">
    <img class="footer-sidebar-img" src="../../../assets/img/logo-inferior.png" alt="">
  </div>
</div>

<div class="menu-routers" [ngClass]="collapsed ? '' : 'menu-routers-2'">
	<router-outlet></router-outlet>
</div>
