<div class="sidebar-contenedor" [ngClass]="collapsed ? 'sidebar' : 'sidebar-collapsed'">
  <div class="header-sidebar">
    <img class="logo-header" src="../../../assets/img/logo-login.png" alt="">
  </div>
  <div class="sidebar-body">
    <ul class="menu">
      <li class="menu-items" [routerLink]="['/menu/dashboard']" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class='bx bxs-dashboard menu-items-icon'></i>
        <span class="menu-items-text">
          Dashboard
        </span>
      </li>
      <li class="menu-items" [routerLink]="['/menu/profile']" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class='bx bxs-user-pin menu-items-icon'></i>
        <span class="menu-items-text">
          Perfil
        </span>
      </li>
      <li class="menu-items" [routerLink]="['/menu/solicitudes']" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class='bx bx-book-reader menu-items-icon'></i>
        <span class="menu-items-text">
          Solicitudes
        </span>
      </li>
      <li class="menu-items">
        <i class='bx bx-bar-chart-alt-2 menu-items-icon'></i>
        <span class="menu-items-text">
          Reportes
        </span>
      </li>
      <li class="menu-items">
        <i class='bx bx-cog menu-items-icon'></i>
        <span class="menu-items-text">
          Configuracion
        </span>
      </li>
      <li class="menu-items" [routerLink]="['/']">
        <i class='bx bx-log-out menu-items-icon'></i>
        <span class="menu-items-text">
          Cerrar Sesión
        </span>
      </li>
    </ul>
  </div>
  <div class="footer-sidebar">
    <img class="footer-sidebar-img" src="../../../assets/img/logo-inferior.png" alt="">
  </div>
</div>

<div class="menu-routers" [ngClass]="collapsed ? '' : 'menu-routers-2'">
  <router-outlet></router-outlet>
</div>
